@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Andrea Steele: Mission 5";
}



<h1>Andrea Steele</h1>
<img src="img/Mount_Timp.jpg" width="504" height="378" />
<p>
    Some of the things that I want to get out of IS 413 is to: gain a better understanding of what ASP.net is,
    become more confident in my coding and problem-solving abilities, and to learn new skills
</p>

<h2>Top 3 jobs that I would like to have when I graduate:</h2>
<ul>
    <li>Software engineer</li>
    <li>Business analyst</li>
    <li>Data scientist</li>
</ul>
<br />

<h2 id="form">Form</h2>
<h3 id="finalGrade"></h3>
<form id="formInput">
    <label>Assignments: </label>
    <input size="1" type="number" id="assignments" step=".01" min="0" max="100" />
    <label>/50%</label><br /><br />

    <label>Group Project: </label>
    <input size="1" id="groupproject" type="number" step=".01" min="0" max="100" />
    <label>/10%</label><br /><br />

    <label>Quizzes: </label>
    <input size="1" id="quizzes" type="number" step=".01" min="0" max="100" />
    <label>/10%</label><br /><br />

    <label>Midterm Exam: </label>
    <input size="1" id="midtem" type="number" step=".01" min="0" max="100" />
    <label>/10%</label><br /><br />

    <label>Final Exam: </label>
    <input size="1" id="final" type="number" step=".01" min="0" max="100" />
    <label>/10%</label><br /><br />

    <label>INTEX: </label>
    <input size="1" type="number" id="intex" name="intex" step=".01" min="0" max="100" />
    <label>/10%</label><br />
    <br />
    <input id="results" type="button" value="Calculate" /><br />
</form>




<script src="js/JavaScript.js"></script>

