@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Andrea Steele: Mission 5";
}

<h1>Andrea Steele</h1> 
<img src="img/Mount_Timp.jpg" width="504" height="378" />
<p>
    Some of the things that I want to get out of IS 413 is to: gain a better understanding of what ASP.net is,
    become more confident in my coding and problem-solving abilities, and to learn new skills
</p>

<h2>Top 3 jobs that I would like to have when I graduate:</h2>
<ul>
    <li>Software engineer</li>
    <li>Business analyst</li>
    <li>Data scientist</li>
</ul>
<br />