<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="lib/boostrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/StyleSheet.css" rel="stylesheet" />
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>

    <nav>
        <a asp-controller="subview" asp-action="Index">Home</a>
        <a asp-controller="subview" asp-action="Form">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="lib/boostrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>

</body>

</html>
